.create_date:before {
    content: '\00B7';
    font-weight: 1000;
    margin: 0 .25em 0 0;
}

.icon {
    height: 15px;
    width: 15px;
}

@keyframes scale-down {
    from {
        transform: scale(1.3);
    }

    to {
        transform: scale(1);
    }
}

.popup_scaling_down {
    animation-name: scale-down;
    animation-duration: 0.1s;
}

.comment_panel {
    max-height: calc(100vh - 50px);
    max-width: calc(100% - 64px - 64px);
}

.comment_list {
    scrollbar-width: none;
}

.share_message_input {
    line-height: 16px;
}